<br><br><br>
<ion-view view-title="Children's Aid Society">
  <ion-content class="padding" style="text-align: center">
  	<br>
  	<br>
  	<br>
  	<h2>Children's Aid Society</h2>
  	<h4>Mobile App</h4>
  	<br>
  	<label class="item item-input">
  		<span class="input-label">Username</span>
  		<input ng-model='user' type="text">
	</label>
	<label class="item item-input">
	  <span  class="input-label">Password</span>
	  <input ng-model='pass' type="password">
	</label>

	<br>
	<button class="button button button-block button-positive" ng-click="login(user,pass)">Login</button>
	</ion-content>
</ion-view>
