<ion-view view-title="{{class.subject}}">
  <ion-content class="padding">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="idea in ideas" type="item-text-wrap" href="#/idea/{{idea.id}}">
        <div class="row">
              <h2>{{idea.name}}</h2>
        </div>
        <div class="row">
          <div class="col-center"> 
            <button class="button ion-checkmark-circled button-positive">Like</button>
          </div>
          <div class="col-center">
            <button class="button ion-forward button-positive">Join</button>
          </div>
        </div>
      <ion-item>
     
  <!--       <i class="icon ion-chevron-right icon-accessory"></i> -->

  </ion-content>
</ion-view>
